<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>Minhas caixinhas | Wallet</title>
  </head>
  <body>
    <header
      class="app-header app--full-width app--container app--sticky app--flex app--align-center app--justify-between"
    >
      <div class="app-logo app--px-2 app--py-4">
        <img class="app-logo__img" src="/img/logo.svg" alt="Logo Wallet" />
      </div>
      <nav class="app-header__nav">
        <ul class="app-header__nav__list app--flex">
          <li
            class="app-header__nav__list__item app-header__nav__list__item--active app--flex app--align-center"
          >
            <a th:href="@{/boxes/{id}(id=${account.id})}">
              <i class="material-symbols-outlined md">archive</i>
              <span class="app--text-sm app--text-semibold">
                Minhas caixinhas
              </span>
            </a>
          </li>
          <li class="app-header__nav__list__item app--flex app--align-center">
            <a th:href="@{/expense/{id}(id=${account.id})}">
              <i class="material-symbols-outlined md">request_quote</i>
              <span class="app--text-sm app--text-semibold">Custos fixos</span>
            </a>
          </li>
          <li
            class="app-header__nav__list__item app-header__nav__list__item--no-tab app--flex app--ml-1 app--align-center"
          >
            <span class="app--text-sm app--text-semibold">
              Olá,
              <span class="app--text-semibold" th:text="${account.name}"></span>
            </span>
          </li>
        </ul>
      </nav>
    </header>

    <main class="app-main app--full-width">
      <section
        class="app-boxes app--flex app--column app--full-width app--py-4"
      >
        <div class="app-boxes__top app--container app--flex app--align-center">
          <i class="material-symbols-outlined xl">archive</i>
          <h3>Minhas caixinhas</h3>
        </div>

        <div class="app-boxes__list app--my-3 app--flex app--container">
          <div
            th:each="box : ${boxes}"
            class="app-box-card app--flex app--column app--align-start"
          >
            <div class="app-box-card__content app--flex app--column">
              <span class="app--text-sm" th:text="'#' + ${box.id}"></span>
              <span class="app--text-md app--mt-1" th:text="${box.name}"></span>
            </div>
            <div class="app-box-card__value">
              <span class="app--text-sm app--my-2 app--text-semibold">
                R$
              </span>
              <span
                class="app--text-lg app--my-2 app--text-semibold"
                th:text="${#numbers.formatDecimal(box.value, 3, 'POINT', 2, 'COMMA')}"
              >
              </span>
            </div>
            <div class="app-box-card__people app--flex">
              <div th:each="a : ${box.participants}" class="app-box-card__person" th:title="${a.name} + ' (' + ${a.email} + ')' ">
                <span class="app--text-md" th:text="${#strings.substring(a.name, 0, 1)}">
                </span>
              </div>
              <div class="open-add-person app-box-card__person" th:data-id="${box.id}">
                <i class="material-symbols-outlined lg" th:data-id="${box.id}">
                  add
                </i>
              </div>
            </div>
            <div class="app-box-card__footer app--flex app--column">
              <a
                href="#"
                th:data-id="${box.id}"
                th:data-account-id="${account.id}"
                class="open-add-money app--text-xs"
                >
                Adicionar dinheiro
              </a>
              <a href="#"
                class="open-edit app--text-xs"
                th:data-id="${box.id}"
                th:data-name="${box.name}"
                th:data-value="${box.value}"
                th:data-account-id="${account.id}">Editar caixinha</a>
              <a
                href="#"
                th:data-id="${box.id}"
                th:data-account-id="${account.id}"
                class="open-delete app--text-xs app--text-danger"
              >
                Excluir caixinha
              </a>
            </div>
          </div>

          <div
            id="open-create"
            class="app-box-card app-box-card--outlined app--flex app--column app--justify-center app--align-center"
          >
            <div
              class="app-box-card__content app--flex app--column app--align-center"
            >
              <div class="material-symbols-outlined">archive</div>
              <span class="app--text-semibold">Adicionar caixinha</span>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div id="create-dialog" class="app-dialog">
      <div class="app-dialog__top">
        <h2>Criar caixinha</h2>
      </div>
      <div class="app-dialog__content">
        <form
          id="create-form"
          th:action="@{/boxes/{id}(id=${account.id})}"
          th:object="${box}"
          method="post"
          class="app--flex app--column app--full-width"
        >
          <fieldset id="name-input" class="app-input">
            <input
              class="app-input__field"
              type="text"
              id="name"
              name="name"
              th:field="*{name}"
              placeholder=" "
            />
            <label class="app-input__label" for="name">Nome da caixinha</label>
          </fieldset>
          <fieldset id="value-input" class="app-input">
            <input
              class="app-input__field"
              type="number"
              id="value"
              name="value"
              th:field="*{value}"
              placeholder=" "
            />
            <label class="app-input__label" for="value">Valor inicial</label>
          </fieldset>
        </form>
      </div>
      <div class="app-dialog__footer app--flex app--justify-end">
        <button
          id="create-cancel-button"
          class="app-button app-button--secondary"
        >
          Cancelar
        </button>
        <button id="create-create-button" class="app-button">Criar</button>
      </div>
    </div>

    <div id="delete-dialog" class="app-dialog">
      <div class="app-dialog__top">
        <h2>Deletar caixinha</h2>
      </div>
      <div class="app-dialog__content">
        <form
          id="delete-form"
          method="post"
          class="app--flex app--column app--full-width"
        >
          <span>Tem certeza que deseja excluir essa caixinha?</span>
          <span class="app--text-semibold app--mt-1">
            Essa ação não poderá ser desfeita.
          </span>
        </form>
      </div>
      <div class="app-dialog__footer app--flex app--justify-end">
        <button
          id="delete-cancel-button"
          class="app-button app-button--secondary"
        >
          Cancelar
        </button>
        <button id="delete-confirm-button" class="app-button">Excluir</button>
      </div>
    </div>

    <div id="add-money-dialog" class="app-dialog">
      <div class="app-dialog__top">
        <h2>Adicionar dinheiro</h2>
      </div>
      <div class="app-dialog__content">
        <form
          id="add-money-form"
          method="post"
          th:object="${box}"
          class="app--flex app--column app--full-width"
        >
          <fieldset id="add-value-input" class="app-input">
            <input
              class="app-input__field"
              type="text"
              id="add-value"
              name="add-value"
              th:field="*{value}"
              placeholder=" "
            />
            <label class="app-input__label" for="add-value">Nova quantia</label>
          </fieldset>
        </form>
      </div>
      <div class="app-dialog__footer app--flex app--justify-end">
        <button
          id="add-money-cancel-button"
          class="app-button app-button--secondary"
        >
          Cancelar
        </button>
        <button id="add-money-confirm-button" class="app-button">
          Adicionar
        </button>
      </div>
    </div>
    
    <div id="add-person-dialog" class="app-dialog">
      <div class="app-dialog__top">
        <h2>Adicionar participante</h2>
      </div>
      <div class="app-dialog__content">
        <form
          id="add-person-form"
          method="post"
          class="app--flex app--column app--full-width"
        >
          <fieldset id="add-person-input" class="app-input">
            <select
              class="app-input__field"
              type="text"
              id="add-person"
              name="add-person"
              placeholder=" "
            >
              <option th:each="a : ${accounts}" th:value="${a.id}" th:text="${a.name}"></option>
            </select>
            <label class="app-input__label" for="add-person">Nova quantia</label>
          </fieldset>
        </form>
      </div>
      <div class="app-dialog__footer app--flex app--justify-end">
        <button
          id="add-person-cancel-button"
          class="app-button app-button--secondary"
        >
          Cancelar
        </button>
        <button id="add-person-confirm-button" class="app-button">
          Adicionar
        </button>
      </div>
    </div>
    
    <div id="edit-dialog" class="app-dialog">
      <div class="app-dialog__top">
        <h2>Editar caixinha</h2>
      </div>
      <div class="app-dialog__content">
        <form
          id="edit-form"
          method="post"
          class="app--flex app--column app--full-width"
          th:object="${box}"
        >
          <fieldset id="edit-name-input" class="app-input">
            <input
              class="app-input__field"
              type="text"
              id="edit-name"
              name="edit-name"
              th:field="*{name}"
              placeholder=" "
            />
            <label class="app-input__label" for="edit-name">Nome da caixinha</label>
          </fieldset>
          <fieldset id="edit-value-input" class="app-input">
            <input
              class="app-input__field"
              type="number"
              id="edit-value"
              name="edit-value"
              th:field="*{value}"
              placeholder=" "
            />
            <label class="app-input__label" for="edit-value">Valor da caixinha</label>
          </form>
        </fieldset>
      </div>
      <div class="app-dialog__footer app--flex app--justify-end">
        <button
          id="edit-cancel-button"
          class="app-button app-button--secondary"
        >
          Cancelar
        </button>
        <button id="edit-confirm-button" class="app-button">
          Salvar
        </button>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="module" src="/lib/app.js"></script>
    <script type="module">
      import App from "/lib/app.js";

      window.addEventListener("load", () => {
        const app = new App("Box");
      });
    </script>
  </body>
</html>
