.app-box-card {
  padding: 20px 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 20px;

  min-width: fit-content;

  background-color: var(--app-color--background600);
}

.app-box-card--outlined {
  background-color: transparent;
  border: 1px dashed var(--app-color--background600);
  cursor: pointer;
}

.app-box-card--outlined > .app-box-card__content {
  gap: 5px;
}

.app-box-card > .app-box-card__icon {
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  cursor: default;

  background-color: var(--app-color--background400);
  background: linear-gradient(
    0deg,
    var(--app-color--background400) 0%,
    var(--app-color--background200) 300%
  );
}

.app-box-card > .app-box-card__icon > i {
  color: var(--app-color--background200);
  cursor: default;
}

.app-box-card > .app-box-card__content > span.app--text-sm {
  color: var(--app-color--background400);
}

.app-box-card > .app-box-card__value > span {
  line-height: 20px;
}

.app-box-card > .app-box-card__value > span:nth-child(1) {
  margin-right: 5px;
}

.app-box-card__person {
  cursor: pointer;
  border-radius: 100%;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: -10px;

  border: 2px solid var(--app-color--background600);

  background-color: var(--app-color--background200);
  transition: var(--app-transition--2);
}

.app-box-card__person > * {
  color: var(--app-color--background400);
}

.app-box-card__person:hover {
  filter: brightness(1.25);
}
