button.app-button {
  padding: 10px 20px;
  cursor: pointer;

  border: none;
  border-radius: 5px;
  background-color: var(--app-color--primary);
  background: linear-gradient(
    0deg,
    var(--app-color--primary) 0%,
    var(--app-color--primary600) 100%
  );

  transition: var(--app-transition--1);
}

button.app-button.app-button--disabled {
  cursor: not-allowed;
  color: var(--app-color--background200);

  background: none;
  background-color: var(--app-color--background600);
}

button.app-button:hover:not(.app-button--disabled),
button.app-button:focus:not(.app-button--disabled) {
  outline: none;
  box-shadow: 0 0 8px 4px var(--app-color--primaryShadow);
}

button.app-button.app-button--secondary {
  background: none;
  background-color: var(--app-color--background);
}

button.app-button.app-button--secondary:hover:not(.app-button--disabled),
button.app-button.app-button--secondary:focus:not(.app-button--disabled) {
  outline: none;
  box-shadow: 0 0 8px 4px var(--app-color--background50);
}
