.app-dialog {
  position: absolute;
  display: none;
  flex-direction: column;

  width: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 16px -8px var(--app-color--backgroundShadow);

  background-color: var(--app-color--background600);
}

.app-dialog > .app-dialog__footer {
  gap: 10px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--app-color--background400);
}

.app-dialog > .app-dialog__top {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--app-color--background400);
}
