header.app-header > nav.app-header__nav > ul.app-header__nav__list {
  list-style: none;
  padding: 0;

  gap: 10px;
}

header.app-header
  > nav.app-header__nav
  > ul.app-header__nav__list
  > li.app-header__nav__list__item > a {
  gap: 5px;
  cursor: pointer;
}

header.app-header
  > nav.app-header__nav
  > ul.app-header__nav__list
  > li.app-header__nav__list__item
  * {
  transition: var(--app-transition--2);
}

header.app-header
  > nav.app-header__nav
  > ul.app-header__nav__list
  > li.app-header__nav__list__item:not(.app-header__nav__list__item--no-tab)
  * {
  color: var(--app-color--background400);
}

header.app-header
  > nav.app-header__nav
  > ul.app-header__nav__list
  > li.app-header__nav__list__item:hover:not(.app-header__nav__list__item--no-tab)
  * {
  color: var(--app-color--background200);
}

header.app-header
  > nav.app-header__nav
  > ul.app-header__nav__list
  > li.app-header__nav__list__item--active:not(.app-header__nav__list__item--no-tab)
  * {
  color: var(--app-color--text);
}
