fieldset.app-input {
  display: flex;
  flex-direction: column;

  min-width: 200px;
  position: relative;
  flex-direction: column-reverse;

  margin-top: 20px;
  margin-bottom: 20px;
}

fieldset.app-input {
  border: 0;
}

fieldset.app-input.app-input--disabled {
  opacity: 0.5;
}

fieldset.app-input > label.app-input__label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: var(--app-color--background200);
  transition: var(--app-transition--2);
}

fieldset.app-input > input.app-input__field {
  border: 0;
  padding: 10px 15px;

  border-radius: 5px;
  background-color: var(--app-color--background400);

  transition: var(--app-transition--2);
}

fieldset.app-input > input.app-input__field::placeholder {
  opacity: 0;
}

fieldset.app-input > input.app-input__field {
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--app-color--background400);
}

fieldset.app-input > input.app-input__field:focus ~ label.app-input__label {
  top: -20px;
  left: 5px;
}

fieldset.app-input:not(.app-input--disabled) > input.app-input__field:focus,
fieldset.app-input:not(.app-input--disabled) > input.app-input__field:hover {
  outline: none;
  background-color: var(--app-color--background600);
}
