<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pages/login.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>Login | Wallet</title>
  </head>
  <body>
    <main class="app-main app--full-width app--flex">
      <section
        class="app-main__column app--column app--flex app--justify-center"
      >
        <img src="/img/logo.svg" class="app-main__logo" alt="Logotipo Wallet" />
        <p class="app-main__text app--text-md">
          A resposta para sua gestão financeira
        </p>
        <div class="app-main__networks"></div>
      </section>

      <section
        class="app-main__column app--column app--flex app--pa-4 app--justify-center app--align-center"
      >
        <div
          class="app-main__column__container app--flex app--column app--pa-4 app--align-center"
        >
          <h2 class="app--text-xl app--text-center app--mb-4">
            Faça seu login
          </h2>
          <form
            class="app-main__form app--flex app--column"
            th:action="@{/account}"
            th:object="${account}"
            method="post"
          >
            <fieldset id="email-input" class="app-input">
              <input
                class="app-input__field"
                type="email"
                id="email"
                name="email"
                th:field="*{email}"
                placeholder=" "
              />
              <label class="app-input__label" for="email">E-mail</label>
            </fieldset>
            <fieldset id="password-input" class="app-input">
              <input
                class="app-input__field"
                type="password"
                id="password"
                name="password"
                placeholder=" "
              />
              <label class="app-input__label" for="password">Senha</label>
            </fieldset>
            <button
              id="signin-button"
              type="submit"
              style="width: 100%"
              class="app-button app--mt-2"
            >
              Entrar
            </button>
          </form>
        </div>
      </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="module" src="/lib/app.js"></script>
    <script type="module">
      import App from "./lib/app.js";

      window.addEventListener("load", () => {
        const app = new App("Login");
      });
    </script>
  </body>
</html>
