/* LAYOUT */

.app--full-width {
  width: 100%;
}

.app--container {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px);
}

.app--sticky {
  position: sticky;
}

.app--flex {
  display: flex;
}

.app--column {
  flex-direction: column;
}

.app--align-center {
  align-items: center;
}

.app--align-start {
  align-items: flex-start;
}

.app--align-end {
  align-items: flex-end;
}

.app--justify-between {
  justify-content: space-between;
}

.app--justify-center {
  justify-content: center;
}

.app--justify-start {
  justify-content: flex-start;
}

.app--justify-end {
  justify-content: flex-end;
}

/* SPACES */
.app--ma-1 {
  margin: 10px;
}

.app--ma-2 {
  margin: 20px;
}

.app--ma-3 {
  margin: 30px;
}

.app--ma-4 {
  margin: 40px;
}

.app--mt-1 {
  margin-top: 10px;
}

.app--mt-2 {
  margin-top: 20px;
}

.app--mt-3 {
  margin-top: 30px;
}

.app--mt-4 {
  margin-top: 40px;
}

.app--mb-1 {
  margin-bottom: 10px;
}

.app--mb-2 {
  margin-bottom: 20px;
}

.app--mb-3 {
  margin-bottom: 30px;
}

.app--mb-4 {
  margin-bottom: 40px;
}

.app--ml-1 {
  margin-left: 10px;
}

.app--ml-2 {
  margin-left: 20px;
}

.app--ml-3 {
  margin-left: 30px;
}

.app--ml-4 {
  margin-left: 40px;
}

.app--mr-1 {
  margin-right: 10px;
}

.app--mr-2 {
  margin-right: 20px;
}

.app--mr-3 {
  margin-right: 30px;
}

.app--mr-4 {
  margin-right: 40px;
}

.app--mx-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.app--mx-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.app--mx-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.app--mx-4 {
  margin-right: 40px;
  margin-left: 40px;
}

.app--my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.app--my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app--my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.app--my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.app--pa-1 {
  padding: 10px;
}

.app--pa-2 {
  padding: 20px;
}

.app--pa-3 {
  padding: 30px;
}

.app--pa-4 {
  padding: 40px;
}

.app--pt-1 {
  padding-top: 10px;
}

.app--pt-2 {
  padding-top: 20px;
}

.app--pt-3 {
  padding-top: 30px;
}

.app--pt-4 {
  padding-top: 40px;
}

.app--pb-1 {
  padding-bottom: 10px;
}

.app--pb-2 {
  padding-bottom: 20px;
}

.app--pb-3 {
  padding-bottom: 30px;
}

.app--pb-4 {
  padding-bottom: 40px;
}

.app--pl-1 {
  padding-left: 10px;
}

.app--pl-2 {
  padding-left: 20px;
}

.app--pl-3 {
  padding-left: 30px;
}

.app--pl-4 {
  padding-left: 40px;
}

.app--pr-1 {
  padding-right: 10px;
}

.app--pr-2 {
  padding-right: 20px;
}

.app--pr-3 {
  padding-right: 30px;
}

.app--pr-4 {
  padding-right: 40px;
}

.app--px-1 {
  padding-right: 10px;
  padding-left: 10px;
}

.app--px-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.app--px-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.app--px-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.app--py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.app--py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app--py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.app--py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* TEXT */

.app--text-sm {
  font-size: 1rem;
}

.app--text-md {
  font-size: 1.5rem;
}

.app--text-lg {
  font-size: 2rem;
}

.app--text-semibold {
  font-weight: 600;
}

.app--text-bold {
  font-weight: 700;
}

/* SCROLLBAR */

.app--scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.app--scrollbar::-webkit-scrollbar-track {
  background-color: var(--app-color--grey200);
}

.app--scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--app-color--grey400);
  border-radius: 5px;
}
